@import "../App.scss";

main#about {
    &.dark {
        @include scrollbar($main, $black);
        section {
            &.header article {
                h2 {
                    color: $white;
                }
                p {
                    color: $white;
                }
                span a {
                    color: $black;
                }
            }
            &.skills article {
                p {
                    color: $white;
                }
                ul li svg {
                    fill: $white;
                }
            }
            &.experience article div.card {
                background-color: rgba($color: $white, $alpha: 0.2);
                a h2 {
                    color: $white;
                }
                p {
                    color: $white;
                }
                strong {
                    color: $white;
                }
            }
        }
    }
    &.light {
        @include scrollbar($main, $white);
        section {
            &.header article {
                h2 {
                    color: $black;
                }
                p {
                    color: $black;
                }
                span a {
                    color: $white;
                }
            }
            &.skills article {
                p {
                    color: $black;
                }
                ul li svg {
                    fill: $black;
                }
            }
            &.experience article div.card {
                background-color: rgba($color: $black, $alpha: 0.2);
                a h2 {
                    color: $black;
                }
                p {
                    color: $black;
                }
                strong {
                    color: $black;
                }
            }
        }
    }
    section {
        &.header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap-reverse;
            padding: 20px 0;
            div#sticker {
                display: flex;
                justify-content: center;
                align-items: center;
                &.engineer img {
                    border-color: $epm;
                }
                img {
                    width: 200px;
                    height: 200px;
                    border-width: 10px;
                    border-style: solid;
                    border-radius: 110px;
                }
            }
            article {
                max-width: 400px;
                padding: 20px;
                h2 {
                    margin: 10px;
                    text-align: center;
                    strong {
                        text-transform: capitalize;
                        color: $epm;
                    }
                }
                p {
                    margin: 10px;
                    text-align: center;
                    strong {
                        text-transform: capitalize;
                        color: $epm;
                    }
                }
                span {
                    margin: 20px 10px;
                    padding: 10px;
                    display: block;
                    background-color: $epm;
                    border-radius: 10px;
                    text-align: center;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
        &.skills {
            h1 {
                margin: 10px;
                padding: 10px 20px;
                border-left: 2px solid $main;
                border-bottom: 2px solid $main;
                color: $main;
            }
            article {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                & > p {
                    max-width: 300px;
                    margin: 10px;
                    text-align: center;
                    strong {
                        text-transform: capitalize;
                        color: $main;
                    }
                }
                ul {
                    list-style-type: none;
                    margin-left: 20px;
                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        svg {
                            width: 30px;
                            height: 30px;
                            margin: 10px;
                        }
                        p {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
        &.experience {
            padding: 20px 0;
            h1 {
                margin: 10px;
                padding: 10px 20px;
                border-left: 2px solid $epm;
                border-bottom: 2px solid $epm;
                color: $epm;
            }
            article {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                div.card {
                    max-width: 300px;
                    margin: 10px;
                    padding: 20px 10px;
                    border-top: 5px solid $epm;
                    a {
                        text-decoration: none;
                        h2 {
                            transition: all ease 0.5s;
                            &:hover {
                                color: $epm;
                            }
                        }
                    }
                    p {
                        padding: 10px 0;
                        text-align: right;
                    }
                    strong {
                        font-weight: 500;
                    }
                }
            }
        }
        &.education {
            padding: 20px 0;
            h1 {
                margin: 10px;
                padding: 10px 20px;
                border-left: 2px solid $main;
                border-bottom: 2px solid $main;
                color: $main;
            }
            ul {
                list-style-type: none;
                li {
                    color: $white;
                }
            }
        }
    }
}