@import "./color";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: calc(100vw);
  height: calc(100vh);
  div#root {
    width: calc(100vw);
    height: calc(100vh);
    overflow: hidden;
    background-color: $second;
  }
}
