@import "./color";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  aside {
    width: calc(100vw - 60px);
    height: calc(100vh);
    ul {
      list-style-type: none;
      height: calc(100vh);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      li {
        padding: 0 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          text-decoration: none;
          font-size: calc(100vh/4 - 60px);
          font-weight: bold;
          text-transform: capitalize;
          color: $black;
          transition: 0.5s all ease;
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
  div#root {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black;
    transition: 0.5s all ease;
    width: calc(100vw);
    height: calc(100vh);
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 60px 1fr;
    main {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}
