@import "../App.scss";

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(1) {
            svg {
                width: 30px;
                height: 30px;
                margin: 10px;
            }
        }
        &:nth-child(2) {
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            svg {
                margin-right: 10px;
            }
        }
    }
    &.frontend span {
        &:nth-child(1) {
            svg g {
                circle {
                    stroke: $react;
                }
                ellipse {
                    fill: $react;
                }
            }
            h3 {
                color: $react;
            }
        }
        &:nth-child(2) {
            background-color: $react;
        }
    }
    &.data span {
        &:nth-child(1) {
            svg g {
                circle {
                    stroke: $google-analytics;
                }
                ellipse {
                    fill: $google-analytics;
                }
            }
            h3 {
                color: $google-analytics;
            }
        }
        &:nth-child(2) {
            background-color: $google-analytics;
        }
    }
    &.environmental span {
        &:nth-child(1) {
            svg g {
                circle {
                    stroke: $epm;
                }
                ellipse {
                    fill: $epm;
                }
            }
            h3 {
                color: $epm;
            }
        }
        &:nth-child(2) {
            background-color: $epm;
        }
    }
}

footer {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 10px;
            svg {
                width: 30px;
                height: 30px;
                opacity: 0.5;
                fill: $white;
                transition: 0.5s ease all;
            }
            &:nth-child(1) svg:hover {
                opacity: 1;
                fill: $instagram;
            }
            &:nth-child(2) svg:hover {
                opacity: 1;
                fill: $white;
            }
            &:nth-child(3) svg:hover {
                opacity: 1;
                fill: $linkedin;
            }
            &:nth-child(4) svg:hover {
                opacity: 1;
                fill: $white;
            }
        }
    }
}