@import "../App.scss";

main#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    div.hello {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 200px;
            height: 200px;
            border: 10px solid $main;
            border-radius: 110px;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.dark {
            h1, h2, h3 {
                color: $white;
            }
        }
        &.light {
            h1, h2, h3 {
                color: $black;
            }
        }
        h1 strong {
            color: $main;
        }
        span {
            svg {
                width: 30px;
                height: 30px;
                margin: 10px;
                &:nth-child(1) {
                    fill: $react;
                }
                &:nth-child(2) {
                    fill: $epm;
                }
            }
        }
        h2 {
            text-transform: capitalize;
            text-align: center;
        }
    }
}