@import "../App.scss";

$love: #ec0121;
$celebrate: #7E30E1;
$ghost: #FF6C22;

main#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &.dark {
        @include scrollbar($main, $black);
        article h1, h2, h3 {
            color: $white;
        }
    }
    &.light {
        @include scrollbar($main, $white);
        article h1, h2, h3 {
            color: $black;
        }
    }
    div#sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        &.hello img {
            border-color: $main;
        }
        &.love img {
            border-color: $love;
        }
        &.celebrate img {
            border-color: $celebrate;
        }
        &.ghost img {
            border-color: $ghost;
        }
        &.christmas img {
            border-color: $white;
        }
        img {
            width: 200px;
            height: 200px;
            border-width: 10px;
            border-style: solid;
            border-radius: 110px;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 strong {
            color: $main;
        }
        span {
            svg {
                width: 30px;
                height: 30px;
                margin: 10px;
                &:nth-child(1) {
                    fill: $epm;
                }
            }
        }
        h2 {
            text-transform: capitalize;
            text-align: center;
        }
    }
}